---
layout: page
title: Leslie Li's Personal Website
---

<h2>About me</h2>
<p>I am interested in how people perceive and learn about the world. Within this frame, I have been studying speech as a particular medium, 
	and examining how people learn, use, and represent speech in their brain. Currently, I am a PhD student at the University of
	Maryland, with affiliations in NACS (<a href="https://nacs.umd.edu">Program of Neuroscience and Cognitive Science</a>), the
	Department of Linguistics, and the Department of Computer Science (which I am working on a Master's Degree in). For more of 
	my research interest and specific projects, go to the <a href="research/index.html">research tab</a>.</p>

<p>I am also a piano-player who plays what I love like a broken record. Other than performing, I also enjoy studying theories of 
	music and Music History, occasionally composing parodies of the old time. I take music not as a career but very seriously, 
	because as Seneca says: </p>

<blockquote> Mihi crede, verum gaudium res severa est. (Sen. <i>Ep.</i> 23.4) </blockquote>

<p>Chronologically, I am from Kunming, a city in <i>Southwest</i> China. Intriguingly, the official dialect of Kunming is a 
	<i>Northern</i> dialect, with close relation to standard Mandarin. <a href="/research/LIN210_projectPaper_LL.pdf">Here</a> 
	is a little project on my hometown dialect. I graduated from the University of Rochester in 2020, with a degree in Brain 
	& Cognitive Sciences (B.S.) and another in Linguistics (B.A.).</p>

<h2>Contact me</h2>

    <center><p>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a> /
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a> /
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
	</p></center>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
