<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}


          {% if item.highlight %}
            <a class="border-highlight">{{ item.highlight }}</a>
          {% endif %}
        </span>
      </a>
      <a href="{{ item.url }}">



        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
