<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="yellow" style="width: 68%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            R
        </div>
        <div class="progress">
            <span class="green" style="width: 76%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            MATLAB
        </div>
        <div class="progress">
            <span class="blue" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            HTML/CSS
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 40%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="grey" style="width: 4%;"></span>
        </div>
    </div>
</section>
